.flex {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 48px;
}

.buttonWrap{
    text-align: center;
    padding: 2rem;
}

.card{
    width: 100%;
    padding: 300px;
    cursor: pointer;
}